@{
    ViewData["Title"] = "Հարցաշար";
}

<div class="text-center">



    <br />
    <br />
    <a href="https://elearning.elections.am/login/index.php" class="btn btn-outline-success" >Անցնել հարցաշարին</a>
    <br />
    <br />

</div>