@{
    ViewData["Title"] = "Խնդիր";
}

<div class="text-center">

    <span >Տվյալների բազայում այժմ առկա է <button class="btn btn-info">7</button> խնդիր, յուրքանչյուրը <button class="btn btn-info">5</button> միավոր </span>

    <br />
    <br />
    <a class="btn btn-outline-info" asp-action="RandomT" asp-controller="Home">Ընտրել պատահականության սկզբունքով</a>
    <br />
    <br />

</div>