@{
    ViewData["Title"] = "Պատահական";
}

<div class="text-center">

    <h3 style="color:forestgreen">Տվյալների բազայում այժմ առկա է 7 խնդիր, յուրքանչյուրը 5 միավոր </h3>

    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="RandomT" asp-controller="Home">Ընտրել պատահականության սկզբունքով</a>
    <br />
    <br />

</div>