@model CitizenTestResults


@{
    ViewData["Title"] = "Խնդիրներ";

}

<div class="text-center">
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=1> Խնդիր 1</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=2> Խնդիր 2</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=3> Խնդիր 3</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=4> Խնդիր 4</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=5> Խնդիր 5</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=6> Խնդիր 6</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test" asp-controller="Home" asp-route-testId=7> Խնդիր 7</a>
</div>



