################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestExample/v15/Server/sqlite3/db.lock
/TestExample/Migrations/20191202072331_InitialMigration.cs
/TestExample/Migrations/20191202072331_InitialMigration.Designer.cs
