@{
    ViewData["Title"] = "Home Page";
}

@{
    var endTime = ((DateTime)ViewBag.TiemExasise);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");
}

<div class="row">
    <div class="col-md-2">
        <div>
            Time Remaining : <span id="minRemaining"></span>:<span id="secRemaining"></span>
        </div>

    </div>

    <div class="col-md-2">
        <form id="myform" asp-action="Privacy" asp-controller="Home">


</form>

    </div>

</div>

<script>

    var remSeconds =@timeRemaining;
    var secondsCounter = remSeconds % 60;

    function formatNumber(number) {
        if (number < 10)
            return '0' + number;
        else return '' + number;
    }

    function startTick() {

        document.getElementById('secRemaining').innerText = formatNumber(parseInt(secondsCounter));
        document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds / 60));


        var _tick = setInterval(function()
        {

            if (remSeconds > 0) {



                remSeconds = remSeconds - 1;
                secondsCounter = secondsCounter - 1;
                document.getElementById('secRemaining').innerText = formatNumber(parseInt(secondsCounter));
                document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds / 60));

                if (secondsCounter == 0)
                    secondsCounter = 60;
            }
            else
            {
                //alert('Youooo');
                clearInterval(_tick);
                document.getElementById("myform").submit();

            }

        }, 1000);

    }
    startTick();


</script>