<div class="text-center">
    <h1 class="text-danger">Մուտքը մերժվեց</h1>
    <h6 class="text-danger">Դուք չունեք թույլատվություն այս բաժին մուտք գործելու</h6>
    <img src="~/images/noaccess.jpg" style="height:300px; width:300px" />
</div>