

@{
    ViewData["Title"] = "Հարցաշարեր";

}

<div class="text-center">
    <a class="btn btn-outline-success" asp-action="Test1" asp-controller="Questions" asp-route-testId=1> Հարցաշար 1</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test2" asp-controller="Questions" asp-route-testId=2> Հարցաշար 2</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test3" asp-controller="Questions" asp-route-testId=3> Հարցաշար 3</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test4" asp-controller="Questions" asp-route-testId=4> Հարցաշար 4</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test5" asp-controller="Questions" asp-route-testId=5> Հարցաշար 5</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test6" asp-controller="Questions" asp-route-testId=6> Հարցաշար 6</a>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="Test7" asp-controller="Questions" asp-route-testId=7> Հարցաշար 7</a>
</div>



