@{
    ViewData["Title"] = "Պատահական_հարցաշար";
}

@{
    Random random = new Random();
    int randomNumber = random.Next(1, 8);
    string randomTest = "Test" + randomNumber;
}

<div class="text-center">

    <h3 style="color:forestgreen">Տվյալների բազայում այժմ առկա է 7 հարցաշար, յուրքանչյուրը 30 միավոր </h3>

    <br />
    <br />
    <a class="btn btn-outline-success" asp-action="@randomTest" asp-controller="Questions">Ընտրել պատահականության սկզբունքով</a>
    <br />
    <br />

</div>