@{
    ViewData["Title"] = "Հարցաշար";
}



<div class="text-center">

    <span>Տվյալների բազայում այժմ առկա է <button class="btn btn-info">103</button> հարց, որնք առանձնացված են մի քանի խմբի, յուրաքանչյուր խմբից</span>
    <br />
    <span>յուրաքանչյուր խմբից պատահականության սկզբունքվ ընտրվում են չկրկնվող հարցեր  </span>
    <span>և ձևավորվում է <button class="btn btn-info">30</button> հարցից բաղկացած հարցաշար </span>

    <br />
    <br />
    <a class="btn btn-outline-info" asp-action="Test" asp-controller="Questions">Ձևավորել հարցաշար և սկսել թեստը</a>
    <br />
    <br />

</div>