@model List<Answer2>

@{
    ViewData["Title"] = "Հարցաշար 2";

}


<span>Տեստի ավարտին մնաց:</span> <span id="countdown" class="countdown"> </span>
<h3 style="text-align:center">Հարցաշար 2</h3>
<form asp-controller="Questions" asp-action="Submit2">

    <ol type="1">
        @foreach (var question in ViewBag.Questions)
        {
            <li>
                <strong style="text-align:center"> @question.QuestionContent</strong>
                <input type="hidden" name="questionId" value="@question.Id" />
                <ol type="a">

                    @foreach (var answer in Model)
                    {
                        if (answer.QuestionId == question.Id)
                        {
                            <li>
                                <input type="radio" name="question_@question.Id"
                                       value="@answer.Id" />
                                @answer.QuestionVariantContent
                            </li>

                        }

                    }

                </ol>
            </li>
        }
    </ol>
    <div style="text-align:center">  <button type="submit" class="btn btn-success">Ավարտել</button></div>

    <div asp-validation-summary="All" class="text-danger" style="text-align:left"></div>
</form>