@model IEnumerable<Question>

@{
    ViewBag.Title = "Բոլոր հարցերը";
}

<h2>Հարցեր</h2>
<br />
<h5>Այս պահին բազայում առկա է @Model.Count()  հարց</h5>
<br />

@if (Model.Any())
{
<a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateQuestion"
   asp-controller="administration">Ավելացնել նոր հարց</a>

    foreach (var question in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Հարց: @question.QId
            </div>
            <div class="card-body">
                <h5 class="card-title">@question.QuestionContent</h5>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Խմբագրել</a>
                <a asp-controller="Administration" asp-action="DeleteQuestion" asp-route-QId="@question.QId" class="btn btn-danger">Հեռացնել</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Դեռ հարց չկա բազայում
        </div>
        <div class="card-body">

            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Ավելացնել նոր հարց բազայում
            </a>
        </div>
    </div>
}